# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.sconsign.dblite
/build/Bootloaderstm32l471.elf
/build/Bootloaderstm32l471.hex
/build/Bootloaderstm32l471.lss
/build/Bootloaderstm32l471.map
/build/Bootloaderstm32l471_flash.log
